.App {
  text-align: center;
  background-color: #282c34;
  border: solid crimson 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  border: solid crimson 5px;
}

.App-link {
  color: #61dafb;
}

.main {
  background-color: #282c34;
  min-height: 70vh;
  border: solid crimson 5px;
  color: #61dafb;
}

.themes {
  border: solid crimson 5px;
  align-items: center;
  justify-items: center;
}
